name: Gradle CI/CD

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - name: Checkout do código
        uses: actions/checkout@v4

      - name: Configurar JDK 17
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '17'

      - name: Build com Gradle (sem rodar testes)
        run: gradle build -x test

  test:
    name: Testes
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: Checkout do código
        uses: actions/checkout@v4

      - name: Configurar JDK 17
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '17'

      - name: Dar permissão de execução ao Gradlew
        run: chmod +x gradlew

      - name: Executar testes (não falha se houver erros)
        run: ./gradlew test || true

      - name: Salvar relatórios de teste (Allure)
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: allure-report
          path: report/allureReport

  deploy:
    name: Deploy
    runs-on: ubuntu-latest
    needs: test
    if: github.ref == 'refs/heads/main'
    steps:
      - name: Checkout do código
        uses: actions/checkout@v4

      - name: Deploy
        run: echo "Realizando o Deploy da app"
